<mat-table [dataSource]="booksList.data" class="mat-elevation-z8 tw-flex-1 tw-w-full tw-h-full tw-p-10">
  <ng-container matColumnDef="title">
    <mat-header-cell class="header-bold" *matHeaderCellDef
      >Title</mat-header-cell
    >
    <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="author_name">
    <mat-header-cell class="header-bold" *matHeaderCellDef
      >Author</mat-header-cell
    >
    <mat-cell *matCellDef="let element">{{
      element.author_name
        ? element.author_name.length > 0
          ? element.author_name[0]
          : 'Unknown'
        : 'Unknown'
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="authors">
    <mat-header-cell class="header-bold" *matHeaderCellDef
      >Author</mat-header-cell
    >
    <mat-cell *matCellDef="let element">{{
      element.authors
        ? element.authors.length > 0
          ? element.authors[0].name
          : 'Unknown'
        : 'Unknown'
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="first_publish_year">
    <mat-header-cell class="header-bold" *matHeaderCellDef
      >Year Of Publication</mat-header-cell
    >
    <mat-cell *matCellDef="let element">{{
      element.first_publish_year
    }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: getDisplayedColumns()"></mat-row>
</mat-table>
